:root {
  /*colour*/
  --color-light-grey: #a1a1a1;
  --color-grey: #554542;
  --color-blue: #0d75c5;
  --color-black: #131314;
  --color-white: #ffffff;
  --color-pink: #f3d9eb;

  /*sizez*/
  --search-fontSize: 36px;
  --city-fontSize: 36px;
  --temp-fontSize: 60px;
  --description-fontSize: 16px;
  --detail-fontSize: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url(img/galshir-space-wallpaper-2_jpg\ by\ Gal\ Shir.jpg)
    no-repeat center fixed;
  background-size: cover;
  font-family: "Noto Sans JP", "sans-serif";
}

.search_icon img {
  width: 50px;
}

.search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 15px 15px;
  font-size: var(--search-fontSize);
  color: var(--color-pink);
  font-weight: bold;
  margin: 0 30px;
}

.search_button {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.search_button input {
  width: 70%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: var(--color-white);
  border-radius: 10%;
}
.search_button i {
  padding: 10px 15px;
}

.result_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
}

#cityName {
  color: var(--color-black);
  font-size: var(--city-fontSize);
  align-self: cent;

  margin-bottom: 20px;
}

#temp {
  background-color: rgb(243, 216, 191);
  opacity: 0.7;
  border-radius: 100%;
  font-size: var(--temp-fontSize);
  padding: 20px;
  margin-top: 0;
}
#description {
  font-size: var(--result-description-fontSize);
  color: var(--color-light-grey);
}

.result_detail {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: var(--detail-fontSize);

  justify-content: center;
  justify-content: space-around;
}
/*
.detail_first {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--detail-fontSize);
  margin-bottom: 40px;
}

.detail_second {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--detail-fontSize);
}
*/

#cloud i {
  color: var(--color-blue);
}
#windSpeed i {
  color: var(--color-blue);
}
#maxTemp i {
  color: var(--color-blue);
}
#minTemp i {
  color: var(--color-blue);
}

@media screen and (max-width: 600px) {
  .result_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: var(--detail-fontSize);
    padding-bottom: 20px;
  }
}
